body {
    background-color: #c8e1fe;
    color:black;
    margin: 0pt;
    padding-bottom: 10pt;
    width: 100%;
}

ul {
    list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #6172ca;
} 

ul li {
    float:left;
}

ul li a {
     display: block;
  color: white;
  text-align: center;
  padding: 20px 16px;
  text-decoration: none;

}

ul li a:hover {
  background-color: #000000;
}


h1