body {
    background-color: #c8e1fe;
    color:black;
    margin: 0pt;
    padding-bottom: 10pt;
    width: 100%;
}

ul {
    list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #6172ca;
} 

ul li {
    float:left;
}

ul li a {
     display: block;
  color: white;
  text-align: center;
  padding: 20px 16px;
  text-decoration: none;

}

ul li a:hover {
  background-color: #000000;
}


oefen

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #38444d;
}

li {
  float: left;
}

li a, .dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 20px 16px;
  text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
  background-color: rgb(0, 0, 0);
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #6172ca;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: rgb(255, 255, 255);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {background-color: #000000;}

.dropdown:hover .dropdown-content {
  display: block;
}

footer {
  display: block;
  text-align: center;
  padding: 3px;
  background-color: #6172ca;
  color: white;
}

#head {
  border-radius: 25px;
  background-color: rgb(188, 181, 228);
  color: #000;
  padding: 10px;
  margin-left: 20%;
  margin-right: 20%;
  text-align: center;
}

#home {
  text-align: center;
  color: #2b267e;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.muziek {
  float: right;
}